* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: #FFDEDE;
  overflow: hidden;
}

#radio1,
#radio2,
#radio3 {
  display: none;
}

.slide-sections {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slide-sections .slides {
  background-attachment: fixed;
  width: 100vw;
  height: 99vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: margin-left 0.6s;
}
.slide-sections .slides h1 {
  z-index: 99;
  display: block;
  width: 100vw;
  padding: 2px;
  background-color: #FFDEDE;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  font-size: 1.9rem;
  text-align: center;
  color: #ABC9FF;
  text-transform: uppercase;
}

#radio1:checked ~ .slide-sections #slide-one {
  margin-left: 0;
}

#radio2:checked ~ .slide-sections #slide-two {
  margin-left: -100vw;
}

#radio3:checked ~ .slide-sections #slide-three {
  margin-left: -200vw;
}

.controls {
  position: absolute;
  display: inline-block;
  top: 50%;
  width: 100%;
  z-index: 99;
}

.controls label {
  position: absolute;
  display: none;
  width: 60px;
  height: 60px;
}

#radio1:checked ~ .controls .pre:nth-child(3) {
  display: block;
  left: 10%;
  border-right: 12px solid #FFDEDE;
  border-bottom: 12px solid #FFDEDE;
  cursor: not-allowed;
  transform: rotate(-225deg);
  opacity: 0.8;
}

#radio2:checked ~ .controls .pre:nth-child(1),
#radio3:checked ~ .controls .pre:nth-child(2) {
  display: block;
  left: 10%;
  border-right: 12px solid #EB4747;
  border-bottom: 12px solid #EB4747;
  cursor: pointer;
  transform: rotate(-225deg);
}
#radio2:checked ~ .controls .pre:nth-child(1):hover,
#radio3:checked ~ .controls .pre:nth-child(2):hover {
  border-color: #FF8B8B;
}
#radio2:checked ~ .controls .pre:nth-child(1):active,
#radio3:checked ~ .controls .pre:nth-child(2):active {
  border-color: #ABC9FF;
}

#radio3:checked ~ .controls .nxt:nth-child(4) {
  display: block;
  right: 10%;
  border-right: 12px solid #FF8B8B;
  border-bottom: 12px solid #FF8B8B;
  cursor: not-allowed;
  transform: rotate(-45deg);
  opacity: 0.8;
}

#radio1:checked ~ .controls .nxt:nth-child(5),
#radio2:checked ~ .controls .nxt:nth-child(6) {
  display: block;
  right: 10%;
  border-right: 12px solid #EB4747;
  border-bottom: 12px solid #EB4747;
  cursor: pointer;
  transform: rotate(-45deg);
}
#radio1:checked ~ .controls .nxt:nth-child(5):hover,
#radio2:checked ~ .controls .nxt:nth-child(6):hover {
  border-color: #FF8B8B;
}
#radio1:checked ~ .controls .nxt:nth-child(5):active,
#radio2:checked ~ .controls .nxt:nth-child(6):active {
  border-color: #ABC9FF;
}

.slider-nav {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 8%;
  text-align: center;
}
.slider-nav .crosses {
  display: inline-block;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  background-color: #EB4747;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 7px;
}
.slider-nav .crosses:hover {
  background-color: #FF8B8B;
}
.slider-nav .crosses:active {
  background-color: #ABC9FF;
}

#radio1:checked ~ .slider-nav #cross-1,
#radio2:checked ~ .slider-nav #cross-2,
#radio3:checked ~ .slider-nav #cross-3 {
  background-color: #FFDEDE;
}

/*# sourceMappingURL=styles.css.map */
