$red-color: #EB4747;
$light-red-color: #FF8B8B;
$pink-color: #FFDEDE;
$pink-transparent-color: rgba(255, 222, 222, 0.899);
$blue-color: #ABC9FF;

$primary-font: Copperplate, Copperplate Gothic Light, fantasy;